.section {
    padding: 50px 0;
}

.title {
    font-size: 100px;
    margin-bottom: 20px;
    color: #BB2233;
    text-align: center;
}

.content {
    background: #F5F5F5;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.text {
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.text p {
    color: #001D4A;
    text-align: center;
    line-height: 28px;
}

.text p a {
    color: #BB2233;
    border-bottom: 1px solid #BB2233;
}

.images {
    display: flex;
    gap: 30px;
}

.videoNode {
    max-width: 720px;
    width: 100%;
    max-height: 396px;
    height: 100%;
    flex: 70;
}

.image {
    max-width: 468px;
    width: 100%;
    max-height: 396px;
    height: 100%;
    flex: 30;
    object-fit: contain;
}

@media screen and (max-width: 991px) {
    .images {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 0 0 50px 0;
    }
}