
.latestNews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
}

.newsTitle {
    margin-top: 30px;
    color: #E53E29;
    background-clip: text;
    font-weight: 500;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: 5px;
} 

.wrapperNewCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsCard {
    background: #F4F7FB;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsCardImg {
    max-height: 340px;
    object-fit: cover;
}

.newsCardContent {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewAllSlice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewAllSlice p {
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500; 
    font-size: 20px;
}

.viewAllSlice a {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500;
    font-size: 20px; 
}

.newsCardBody {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 150px;
    overflow: hidden;
}

.newsCardBody p,
.newsCardBody div,
.newsCardBody h3 {
    color: #041A44;
    font-weight: 300;
    font-size: 14px;
}

.newsCardReadMore {
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 20px; 
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
}

.calendarSlice {
    display: flex;
    align-items: center;
    gap: 15px;
}

.defaultText {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500; 
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewAll {
    color: rgba(0, 41, 122, 0.6);
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .wrapperNewCards {
        flex-direction: row;
    }
}

@media screen and (max-width: 640px) {
    .wrapperNewCards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .latestNews {
        align-items: center;
    }
}