.footer {
    padding: 20px 0;
}

.firstLine,
.content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.content {
    width: 100%;
    border-bottom: 1px solid hsla(220, 87%, 21%, 0.8);
    padding-bottom: 5px;
}

.columnNode {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}


.gridColumn5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default: 2 columns */
    grid-auto-rows: minmax(min-content, max-content); /* Adjust row height as needed */
    gap: 15px; /* Gap between grid items */
}

.logo {
    width: 214px;
    height: 88px;
    object-fit: contain;
}

.columnTitle {
    font-weight: 700;
    font-size: 20px;
    color: hsla(220, 87%, 21%, 1);
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsla(220, 87%, 21%, 0.8);
    font-size: 14px;
}

.link * {
    color: hsla(220, 87%, 21%, 0.8);
}

.font20 {
    font-size: 20px;
    font-weight: 500;
}

.red {
    color: hsla(7, 78%, 53%, 1);
}

.underContent,
.underContent div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.underContent {
    padding-top: 20px;
}

.underContent span {
    color: hsla(220, 87%, 21%, 1);
    font-size: 14px;
}

.underContent .row {
    background-color: hsla(220, 87%, 21%, 1);
    height: 20px;
    width: 1px;
}

.underContent a {
    color: hsla(7, 78%, 53%, 1);
    font-size: 14px;
}

@media screen and (max-width: 1160px) {
    .content {
        flex-direction: column;
        gap: 40px;
    }
    .firstLine {
        justify-content: flex-start;
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .content .columnNode:last-child,
    .firstLine .columnNode:last-child {
        display: none;
    }

    .firstLine {
        width: 100%;
        justify-content: center;
    }

    .columnNode {
        justify-content: center;
        align-items: center;
    }

    .underContent span {
        margin-bottom: 5px;
        text-align: center;
    }

}