.nav {
    background-color: transparent;
    height: 60px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 999;
    transition: all .5s;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.informationBarBg {
    border-bottom: initial;
    background: #FFFFFF;
}

.informationBarBgBlue {
    background-color: #FFFFFF;
    border-bottom: none;
}

.contentDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dynamicLink {
    display: flex;
    align-items: center;
    gap: 15px;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.li {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    transition: all .2s;
    padding-bottom: 2px;
    border-bottom: 2px solid #f8360000;
}

.activeLink,
.li:hover {
    border-bottom: 2px solid hsla(7, 78%, 53%, 1);
}

.contentMobile {
    display: none;
    justify-content: space-between;
}

.contentMobile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.getQuote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    gap: 14px;
    cursor: pointer;
}

.informationBarBg .dynamicLink,
.informationBarBg .li {
    color: rgba(0, 29, 74, 0.8);
}

@media screen and (max-width: 768px) {
    
    .getQuote {
        color: hsla(7, 78%, 53%, 1);
    }

    .contentMobile { 
        display: flex;
    }


    .contentDesktop {
        display: none;
    }
}