.form {
    max-width: 621px;
    min-width: 530px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: hsla(220, 87%, 21%, 0.85);
    border: 3px solid hsla(7, 78%, 53%, 1);
    padding: 25px;
    margin: 30px auto 0 auto;
    overflow-y: auto;
    position: relative;
}

.goBack {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.goBack span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

.fromTitle {
    color: #FFFFFF;
    width: 260px;
    border-bottom: 1px solid #FFFFFF;

    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.fromTitle span {
    color: hsla(7, 78%, 53%, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.firstNode {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.seccondNode {
    width: 260px;
    margin-bottom: 58px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 180px;
    position: relative;
}

.seccondNode .inputWrapper {
    width: 260px;
    max-width: initial;

}

.input {
    background: #FFFFFF;
    height: 38px;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    line-height: inherit;
}

.input:focus {
    outline: 2px solid transparent;
}


.btn {
    width: 260px;
    border-radius: 25px;
    color: hsla(7, 78%, 53%, 1);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 1px solid hsla(7, 78%, 53%, 1);
}

.error {
    position: absolute;
    bottom: -20px;
    left: 5px;
    font-size: 14px;
    color: red;
}

.backAnime svg {
    outline: 2px solid transparent;
    border-radius: 50%;
    animation: border-spin .5s linear infinite;
}

@keyframes border-spin {
    0% {
        transform: scale(1);
        outline-color: #00297A;
    }
    50% {
        outline-color: #BB2233;
        transform: scale(1.1);
    }
    100% {
        outline-color: #00297A;
        transform: scale(1);
    }
}


@media screen and (max-width: 768px) {
    .form {
        padding: 10px;
        padding-top: 35px;
        min-width: initial;
        height: initial;
    }

    .goBack {
        top: 15px;
        left: 15px;
    }
    
    .goBack span {
        font-size: 16px;
    }

    .content,
    .firstNode {
        flex-direction: column;
        gap: 20px;
    }
    
    .seccondNode,
    .inputWrapper {
        max-width: initial;
        width: 100% !important;
    }

    .error {
        font-size: 10px;
        bottom: -15px;
        white-space: nowrap;
    }
}