.wrapperRelatedPosts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.relatedPostsTitle {
    color: #001D4A;
    font-weight: 700;
    font-size: 24px; 
    display: flex;
    gap: 9px;
    align-items: center;
}

.posts {
    display: flex;
    gap: 10px;
}

.post {
    background: #F4F4F3;
    border: 5px dashed #001D4A;
    border-radius: 10px;
    max-width: 240px;
}

.postImage {
    border-radius: 5px 5px 0 0;
}

.postContent {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapperTime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.categoryName {
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500; 
}

.postDescription {
    line-height: 30px;
    font-weight: 700;
    color: #001D4A; 
    text-align: center;
}

.defaultText {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500; 
}