
.responses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.responsesTitle {
    display: flex;
    align-items: center;
}

.responsesTitle svg {
    width: 16px;
    height: 12px;
}

.responsesTitle p {
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 24px; 
}

.responseItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.responseUser {
    display: flex;
    align-items: center;
    gap: 6px;
}

.responseItem .responseUser p {
    color: #001D4A; 
}

.responseItem .responseUser span { 
    font-size: 14px;
    color: #001D4A;
    font-weight: 300;
}

.responseItem p {
    color: rgba(0, 59, 86, 0.6); 
}

.responseItem p a {
    cursor: pointer;
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reaMoreResponse {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(180deg, #F83600 0%, #FE8C00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700; 
    cursor: pointer;
    max-width: max-content;
}