.faqSection {
    margin: 20px 0;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #001D4A;
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 20px;
}

.description {
    color: rgba(7, 39, 101, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.questionGroup {
    width: 100%;
    border-bottom: 1px solid rgba(7, 39, 101, 0.20);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 15px;
    padding-right: 100px;
    cursor: pointer;
}

.text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.square {
    width: 16px;
    height: 16px;
    background: #E53E29;
}

.text p {
    font-size: 20px;
    font-weight: 500;
    color: #072765;
}

.answer {
    padding: 0 150px 20px 25px;
    line-height: 1.5;
    overflow-y: clip;
}

.answer p {
    color: #072765;
    font-size: 14px;
}

.isActive .question {
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .question {
        padding-right: 0;
    }
}